<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>Activity Entry Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/styles/activity.css">
        <!--add icon library-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>

        <!-- <div class="d-flex flex-column">
            <nav class="navbar navbar-toggleable-md sticky-top bg-faded">
                <a class="navbar-brand" href="#">
                    <h1 class="navbar-brand mb-0">My App</h1>
                </a>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link">Item 1</a></li>
                </ul>
            </nav>
            <div id="outer" class="d-flex flex-column">
                <div id="one" class="">
                    header content
                    <br> another line
                    <br> And another
                </div>
                <div id="two" class="bg-info">
                    main content that I want to expand to cover remaining available height
                </div>
                <div id="three" class="">
                    footer content 40px height
                </div>
            </div>
        </div> -->

        <!-- test start -->
        <!-- <div class="container">
            <div class="d-flex" id="nav-template"></div>
            <div class="d-flex justify-content-center box-2">
                <div class="d-flex align-items-center">
                    <div class="d-flex justify-content-center flex-column">
                        <a href="#" class="mt-2 btn btn-primary btn-lg active" role="button" aria-pressed="true">Hold Activity</a>
                        <a href="#" class="mt-4 btn btn-primary btn-lg active" role="button" aria-pressed="true">Participate Activity</a>
                    </div>
                </div>
            </div>
        <div class="d-flex" id="bottom-nav-template"></div>
        </div>        -->
        <!-- test end -->

        <!-- start -->
        <!-- <div class="d-flex" id="wrapper">

            <div id="page-content-wrapper">
                
                <div id="nav-template"></div>
            </div>
        </div>

        <div class="d-flex justify-content-center flex-column align-items-center">
            <button id="holdActivityId" class="mt-4 mb-4 btn btn-primary btn-lg active" style="width: 80%;">Hold Activity</button>
            <button id="participateActivityId" class="mt-4 mb-4 btn btn-primary btn-lg active" style="width: 80%;">Participate Activity</button>
        </div>

        <div id="bottom-nav-template"></div> -->

        <div class="d-flex" id="wrapper">
            <div id="page-content-wrapper">
                <div id="nav-template"></div>
                <div id="ActivityEntryViewId" style="display: none;">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <button id="holdActivityId" class="mt-4 mb-4 btn btn-primary btn-lg active" style="width: 80%;">Hold Activity</button>
                        <button id="participateActivityId" class="mt-4 mb-4 btn btn-primary btn-lg active" style="width: 80%;">Participate Activity</button>
                    </div>
                </div>
                <div id="holdActivityViewId" style="display: none;">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <button id="createActivityId" class="mt-4 mb-4 btn btn-primary btn-lg active" style="width: 80%;">Create Activity</button>
                        <button id="viewActivityICreatedId" class="mt-4 mb-4 btn btn-primary btn-lg active" style="width: 80%;">View Activity I Created</button>
                    </div>
                </div>
                <div id="CreateActivityViewId" style="display: none;">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <h3 class="mb-4 mt-4"> Create Activity </h3>
                        <div id="activityName" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">Activity Name</span>
                            </div>
                            <input id="activityNameInput" type="text" class="form-control" aria-label="Default" placeholder="ex. Dahan" value="clean up forest A02" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div id="activityTime" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">Activity Time</span>
                            </div>
                            <input id="activityTimeInput" type="text" class="form-control" aria-label="Default" placeholder="ex. MM/DD/YYYY HH:MM" value="06/04/2021 13:30:01" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div id="activityAddr" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">Activity Addr</span>
                            </div>
                            <input id="activityAddrInput" type="text" class="form-control" aria-label="Default" placeholder="ex. Mountain View" value="San Jose" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div id="activityNoOfPeopleNeeded" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">No. of People Needed</span>
                            </div>
                            <div style="width: 10%;">
                                <input id="activityNoOfPeopleNeededValue" type="number" class="form-control" value="4"/>
                            </div>
                            <div class="d-flex ml-2 justify-content-center flex-column align-items-center">
                                <em id="activityNoOfPeopleNeededIncrementId" class="fas fa-caret-up"></em>
                                <em id="activityNoOfPeopleNeededDecrementId" class="fas fa-caret-down"></em>
                            </div>
                        </div>
                        <div id="activityNoOfHour" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">No. of Hour</span>
                            </div>
                            <div style="width: 10%;">
                                <input id="activityNoOfHourValue" type="number" class="form-control" value="2"/>
                            </div>
                            <div class="d-flex ml-2 justify-content-center flex-column align-items-center">
                                <em id="activityNoOfHourIncrementId" class="fas fa-caret-up"></em>
                                <em id="activityNoOfHourDecrementId" class="fas fa-caret-down"></em>
                            </div>
                        </div>

                        <button id="createActivityBtnId" class="mt-4 mb-4 btn btn-primary btn-lg active" style="width: 80%;">Create</button>
                    </div>
                </div>

                <div class="d-flex justify-content-center flex-column align-items-center">
                <div id="CreateActivityValidationId" class="sticky-top alert alert-danger fade show" role="alert" style="display: none;">
                    Required Information Missing 
                    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button> -->
                </div>
                </div>

                <div id="CreateActivityConfirmationViewId" style="display: none;">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <h3 class="mb-4 mt-4"> Create Activity </h3>
                        <h4 class="mb-4 mt-4"> Activity Created Successfully </h4>
                        <button id="viewActivityICreatedAfterCreatedId" class="mt-4 mb-4 btn btn-primary btn-lg active" style="width: 80%;">View Activity I Created</button>
                    </div>
                </div>
                <div id="ViewActivityICreatedViewId" style="display: none;">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <h3 class="mb-4 mt-4"> View Activity I Created </h3>
                        <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-height: 500px;">                       
                            <div class="p-4" id="">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Time</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Place</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                    </thead>
                                    <tbody id="activityTBody">
                                    </tbody>
                                </table>
                            </div>  
                        </div>                       
                    </div>
                </div>
                <div id="UpdateActivityICreatedViewId" style="display: none;">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <h3 class="mb-4 mt-4"> Update Activity I Created </h3>
                        <div id="activityId" class="input-group mb-3" style="display: none;">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">Activity Id</span>
                            </div>
                            <input id="activityIdInput-update" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled>
                        </div>                        
                        <div id="activityName" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">Activity Name</span>
                            </div>
                            <input id="activityNameInput-update" type="text" class="form-control" aria-label="Default" placeholder="ex. Dahan" value="clean up forest A02" aria-describedby="inputGroup-sizing-default" disabled>
                        </div>
                        <div id="activityTime" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">Activity Time</span>
                            </div>
                            <input id="activityTimeInput-update" type="text" class="form-control" aria-label="Default" placeholder="ex. MM/DD/YYYY HH:MM" value="06/04/2021 13:30:01" aria-describedby="inputGroup-sizing-default" disabled>
                        </div>
                        <div id="activityAddr" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">Activity Addr</span>
                            </div>
                            <input id="activityAddrInput-update" type="text" class="form-control" aria-label="Default" placeholder="ex. Mountain View" value="San Jose" aria-describedby="inputGroup-sizing-default" disabled>
                        </div>
                        <div id="activityStatus" class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">Activity Status</span>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="activityDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: white; color: black; ">
                                Status ... 
                                </button>
                                <div id="activityDropdownMenu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">WAITING</a>
                                    <a class="dropdown-item" href="#">READY</a>
                                    <a class="dropdown-item" href="#">COMPLETED</a>
                                    <a class="dropdown-item" href="#">CANCELED</a>
                                </div>
                            </div>
                            <!-- <input id="activityStatusInput-update" type="text" class="form-control" aria-label="Default" placeholder="ex. READY" aria-describedby="inputGroup-sizing-default"> -->
                        </div>
                        <div id="activityNoOfPeopleNeeded" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">No. of People Needed</span>
                            </div>
                            <div style="width: 10%;">
                                <input id="activityNoOfPeopleNeededValue-update" type="number" class="form-control" value="4" disabled/>
                            </div>
                            <!-- <div class="d-flex ml-2 justify-content-center flex-column align-items-center">
                                <em id="activityNoOfPeopleNeededIncrementId" class="fas fa-caret-up"></em>
                                <em id="activityNoOfPeopleNeededDecrementId" class="fas fa-caret-down"></em>
                            </div> -->
                        </div>
                        <div id="activityNoOfPeopleRegistered" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">No. of People Registered</span>
                            </div>
                            <div style="width: 10%;">
                                <input id="activityNoOfPeopleRegistered-update" type="number" class="form-control" value="4" disabled/>
                            </div>
                            <!-- <div class="d-flex ml-2 justify-content-center flex-column align-items-center">
                                <em id="activityNoOfPeopleRegisteredIncrementId" class="fas fa-caret-up"></em>
                                <em id="activityNoOfPeopleRegisteredDecrementId" class="fas fa-caret-down"></em>
                            </div> -->
                        </div>
                        <div id="activityNoOfHour" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">No. of Hour</span>
                            </div>
                            <div style="width: 10%;">
                                <input id="activityNoOfHourValue-update" type="number" class="form-control" value="2" disabled/>
                            </div>
                            <!-- <div class="d-flex ml-2 justify-content-center flex-column align-items-center">
                                <em id="activityNoOfHourIncrementId" class="fas fa-caret-up"></em>
                                <em id="activityNoOfHourDecrementId" class="fas fa-caret-down"></em>
                            </div> -->
                        </div>

                        <button id="updateActivityICreatedViewBtnId" class="mt-2 mb-2 btn btn-primary btn-sm active" style="width: 80%;">Update</button>
                        <button id="updateActivityICreatedViewCancelBtnId" class="mt-2 mb-2 btn btn-danger btn-sm active" style="width: 80%;">Cancel</button>
                    </div>
                </div>
                <div id="updateActivityConfirmationViewId" style="display: none;">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <h3 class="mb-4 mt-4"> Update Activity I Created </h3>
                        <h4 class="mb-4 mt-4"> Activity Updated Successfully </h4>
                        <button id="viewActivityICreatedAfterUpdatedId" class="mt-4 mb-4 btn btn-primary btn-lg active" style="width: 80%;">View Activity I Created</button>
                    </div>
                </div>                




                <div id="ParticipateActivityViewId" style="display: none;">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <button id="joinActivityId" class="mt-4 mb-4 btn btn-primary btn-lg active" style="width: 80%;">Join Activity</button>
                        <button id="viewActivityIJoinedId" class="mt-4 mb-4 btn btn-primary btn-lg active" style="width: 80%;">View Activity I Joined</button>
                    </div>
                </div>        
                
                <div id="ViewActivityICanJoinViewId" style="display: none;">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <h3 class="mb-4 mt-4"> Join Activity </h3>
                        <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-height: 500px;">                       
                            <div class="p-4" id="">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Time</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Place</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                    </thead>
                                    <tbody id="activityTBody-joinActivity">
                                    </tbody>
                                </table>
                            </div>  
                        </div>                       
                    </div>
                </div>                

                <div id="RegisterActivityViewId" style="display: none;">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <h3 class="mb-4 mt-4"> Join Activity </h3>
                        <div id="activityId" class="input-group mb-3" style="display: none;">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">Activity Id</span>
                            </div>
                            <input id="activityIdInput-join" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled>
                        </div>                        
                        <div id="activityName" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">Activity Name</span>
                            </div>
                            <input id="activityNameInput-join" type="text" class="form-control" aria-label="Default" placeholder="ex. Dahan" value="clean up forest A02" aria-describedby="inputGroup-sizing-default" disabled>
                        </div>
                        <div id="activityTime" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">Activity Time</span>
                            </div>
                            <input id="activityTimeInput-join" type="text" class="form-control" aria-label="Default" placeholder="ex. MM/DD/YYYY HH:MM" value="06/04/2021 13:30:01" aria-describedby="inputGroup-sizing-default" disabled>
                        </div>
                        <div id="activityAddr" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">Activity Addr</span>
                            </div>
                            <input id="activityAddrInput-join" type="text" class="form-control" aria-label="Default" placeholder="ex. Mountain View" value="San Jose" aria-describedby="inputGroup-sizing-default" disabled>
                        </div>
                        <div id="activityStatus" class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">Activity Status</span>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="activityDropdownMenuButton-join" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: white; color: black;" disabled>
                                Status ... 
                                </button>
                                <div id="activityDropdownMenu-join" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">WAITING</a>
                                    <a class="dropdown-item" href="#">READY</a>
                                    <a class="dropdown-item" href="#">COMPLETED</a>
                                    <a class="dropdown-item" href="#">CANCELED</a>
                                </div>
                            </div>
                            <!-- <input id="activityStatusInput-update" type="text" class="form-control" aria-label="Default" placeholder="ex. READY" aria-describedby="inputGroup-sizing-default"> -->
                        </div>
                        <div id="activityNoOfPeopleNeeded" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">No. of People Needed</span>
                            </div>
                            <div style="width: 10%;">
                                <input id="activityNoOfPeopleNeededValue-join" type="number" class="form-control" value="4" disabled/>
                            </div>
                            <!-- <div class="d-flex ml-2 justify-content-center flex-column align-items-center">
                                <em id="activityNoOfPeopleNeededIncrementId" class="fas fa-caret-up"></em>
                                <em id="activityNoOfPeopleNeededDecrementId" class="fas fa-caret-down"></em>
                            </div> -->
                        </div>
                        <div id="activityNoOfPeopleRegistered" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">No. of People Registered</span>
                            </div>
                            <div style="width: 10%;">
                                <input id="activityNoOfPeopleRegistered-join" type="number" class="form-control" value="4" disabled/>
                            </div>
                            <!-- <div class="d-flex ml-2 justify-content-center flex-column align-items-center">
                                <em id="activityNoOfPeopleRegisteredIncrementId" class="fas fa-caret-up"></em>
                                <em id="activityNoOfPeopleRegisteredDecrementId" class="fas fa-caret-down"></em>
                            </div> -->
                        </div>
                        <div id="activityNoOfHour" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">No. of Hour</span>
                            </div>
                            <div style="width: 10%;">
                                <input id="activityNoOfHourValue-update" type="number" class="form-control" value="2" disabled/>
                            </div>
                            <!-- <div class="d-flex ml-2 justify-content-center flex-column align-items-center">
                                <em id="activityNoOfHourIncrementId" class="fas fa-caret-up"></em>
                                <em id="activityNoOfHourDecrementId" class="fas fa-caret-down"></em>
                            </div> -->
                        </div>

                        <button id="RegisterActivityViewIdBtnId" class="mt-2 mb-2 btn btn-primary btn-sm active" style="width: 80%;">Join</button>
                        <button id="RegisterActivityViewIdCancelBtnId" class="mt-2 mb-2 btn btn-danger btn-sm active" style="width: 80%;">Cancel</button>
                    </div>
                </div>

                <div id="JoinedActivityConfirmationViewId" style="display: none;">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <h3 class="mb-4 mt-4"> Join Activity </h3>
                        <h4 class="mb-4 mt-4"> Activity Joined Successfully </h4>
                        <button id="viewActivityIJoinedAfterJoinedId" class="mt-4 mb-4 btn btn-primary btn-lg active" style="width: 80%;">View Activity I Joined</button>
                    </div>
                </div>


                <div id="ViewActivityIJoinedViewId" style="display: none;">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <h3 class="mb-4 mt-4"> Activity I Joined </h3>
                        <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-height: 500px;">                       
                            <div class="p-4" id="">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Time</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Place</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                    </thead>
                                    <tbody id="activityTBody-joined">
                                    </tbody>
                                </table>
                            </div>  
                        </div>                       
                    </div>
                </div>    


                <div id="UnregisterActivityViewId" style="display: none;">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <h3 class="mb-4 mt-4"> Cancel Joined Activity </h3>
                        <div id="activityId" class="input-group mb-3" style="display: none;">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">Activity Id</span>
                            </div>
                            <input id="activityIdInput-unjoin" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled>
                        </div>                        
                        <div id="activityName" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">Activity Name</span>
                            </div>
                            <input id="activityNameInput-unjoin" type="text" class="form-control" aria-label="Default" placeholder="ex. Dahan" value="clean up forest A02" aria-describedby="inputGroup-sizing-default" disabled>
                        </div>
                        <div id="activityTime" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">Activity Time</span>
                            </div>
                            <input id="activityTimeInput-unjoin" type="text" class="form-control" aria-label="Default" placeholder="ex. MM/DD/YYYY HH:MM" value="06/04/2021 13:30:01" aria-describedby="inputGroup-sizing-default" disabled>
                        </div>
                        <div id="activityAddr" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">Activity Addr</span>
                            </div>
                            <input id="activityAddrInput-unjoin" type="text" class="form-control" aria-label="Default" placeholder="ex. Mountain View" value="San Jose" aria-describedby="inputGroup-sizing-default" disabled>
                        </div>
                        <div id="activityStatus" class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">Activity Status</span>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="activityDropdownMenuButton-unjoin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: white; color: black;" disabled>
                                Status ... 
                                </button>
                                <div id="activityDropdownMenu-unjoin" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">WAITING</a>
                                    <a class="dropdown-item" href="#">READY</a>
                                    <a class="dropdown-item" href="#">COMPLETED</a>
                                    <a class="dropdown-item" href="#">CANCELED</a>
                                </div>
                            </div>
                            <!-- <input id="activityStatusInput-update" type="text" class="form-control" aria-label="Default" placeholder="ex. READY" aria-describedby="inputGroup-sizing-default"> -->
                        </div>
                        <div id="activityNoOfPeopleNeeded" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">No. of People Needed</span>
                            </div>
                            <div style="width: 10%;">
                                <input id="activityNoOfPeopleNeededValue-unjoin" type="number" class="form-control" value="4" disabled/>
                            </div>
                            <!-- <div class="d-flex ml-2 justify-content-center flex-column align-items-center">
                                <em id="activityNoOfPeopleNeededIncrementId" class="fas fa-caret-up"></em>
                                <em id="activityNoOfPeopleNeededDecrementId" class="fas fa-caret-down"></em>
                            </div> -->
                        </div>
                        <div id="activityNoOfPeopleRegistered" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">No. of People Registered</span>
                            </div>
                            <div style="width: 10%;">
                                <input id="activityNoOfPeopleRegistered-unjoin" type="number" class="form-control" value="4" disabled/>
                            </div>
                            <!-- <div class="d-flex ml-2 justify-content-center flex-column align-items-center">
                                <em id="activityNoOfPeopleRegisteredIncrementId" class="fas fa-caret-up"></em>
                                <em id="activityNoOfPeopleRegisteredDecrementId" class="fas fa-caret-down"></em>
                            </div> -->
                        </div>
                        <div id="activityNoOfHour" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">No. of Hour</span>
                            </div>
                            <div style="width: 10%;">
                                <input id="activityNoOfHourValue-unjoin" type="number" class="form-control" value="2" disabled/>
                            </div>
                            <!-- <div class="d-flex ml-2 justify-content-center flex-column align-items-center">
                                <em id="activityNoOfHourIncrementId" class="fas fa-caret-up"></em>
                                <em id="activityNoOfHourDecrementId" class="fas fa-caret-down"></em>
                            </div> -->
                        </div>

                        <button id="UnregisterActivityViewBtnId" class="mt-2 mb-2 btn btn-primary btn-sm active" style="width: 80%;">Unregister</button>
                        <button id="UnregisterActivityViewCancelBtnId" class="mt-2 mb-2 btn btn-danger btn-sm active" style="width: 80%;">Cancel</button>
                    </div>
                </div>                

                <div id="UnjoinedActivityConfirmationViewId" style="display: none;">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <h3 class="mb-4 mt-4"> Cancel Joined Activity </h3>
                        <h4 class="mb-4 mt-4"> Unregister Activity Successfully </h4>
                        <button id="UnjoinedActivityConfirmationViewBtnId" class="mt-4 mb-4 btn btn-primary btn-lg active" style="width: 80%;">View Activity I Joined</button>
                    </div>
                </div>



                <div id="bottom-nav-template"></div>
            </div>
        </div>

        <!-- end -->
        

        <!-- Bootstrap core JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <!-- import chat room js file -->
        <script type="module" src="/js/activity.js"></script>
        <!-- <script src="./src/input-spinner.js"></script>
        <script>
            $("input[type='number']").inputSpinner();
        </script>         -->
        <script src="/js/nav.js"></script>
        <script src="/js/bottomNav.js"></script>
        <!-- <script type="module" src="/js/sockets/privateChatSocket.js"></script> -->
    </body>

</html>