<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>AWS ELB XXXX</title>

        <!-- import 3rd-party js files -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <!-- import shared js files -->
        <script src="/js/nav.js"></script>
        <script src="js/bottomNav.js"></script>

        <!-- import js files -->
        <!-- <script type="module" src="/js/sockets/directorySocket.js"></script> -->
        <script type="module" src="/js/elb.js"></script>

        <!-- import 3rd-party css files -->
            <!-- css: font-awesome for icons -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
            <!-- css: font-awesome for icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        
        <!-- import css files -->
        <link rel="stylesheet" type="text/css" href="/styles/elb.css">        
        
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <div id="page-content-wrapper">
                <div id="nav-template"></div>

                <div id="CreateActivityViewId">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <h3 class="mb-4 mt-4"> AWS ELB </h3>
                        <div id="activityName" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">Activity Name</span>
                            </div>
                            <input id="activityNameInput" type="text" class="form-control" aria-label="Default" placeholder="ex. Dahan" value="clean up forest A02" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div id="activityTime" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">Activity Time</span>
                            </div>
                            <input id="activityTimeInput" type="text" class="form-control" aria-label="Default" placeholder="ex. MM/DD/YYYY HH:MM" value="06/04/2021 13:30:01" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div id="activityAddr" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">Activity Addr</span>
                            </div>
                            <input id="activityAddrInput" type="text" class="form-control" aria-label="Default" placeholder="ex. Mountain View" value="San Jose" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div id="activityNoOfPeopleNeeded" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">No. of People Needed</span>
                            </div>
                            <div style="width: 10%;">
                                <input id="activityNoOfPeopleNeededValue" type="number" class="form-control" value="4"/>
                            </div>
                            <div class="d-flex ml-2 justify-content-center flex-column align-items-center">
                                <em id="activityNoOfPeopleNeededIncrementId" class="fas fa-caret-up"></em>
                                <em id="activityNoOfPeopleNeededDecrementId" class="fas fa-caret-down"></em>
                            </div>
                        </div>
                        <div id="activityNoOfHour" class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn btn-primary text-white" id="inputGroup-sizing-default">No. of Hour</span>
                            </div>
                            <div style="width: 10%;">
                                <input id="activityNoOfHourValue" type="number" class="form-control" value="2"/>
                            </div>
                            <div class="d-flex ml-2 justify-content-center flex-column align-items-center">
                                <em id="activityNoOfHourIncrementId" class="fas fa-caret-up"></em>
                                <em id="activityNoOfHourDecrementId" class="fas fa-caret-down"></em>
                            </div>
                        </div>
                        
                        <button id="buyTicketId" class="mt-4 mb-4 btn btn-primary btn-lg active" style="width: 80%;">Buy Ticket</button>
                        <button id="createActivityBtnId" class="mt-4 mb-4 btn btn-primary btn-lg active" style="width: 80%;">Create</button>
                    </div>
                </div>

                <div id="bottom-nav-template"></div>                  
            </div>
        </div>

    </body>

</html>