<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Offer Shelter</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/styles/chat.css">

    <!--add icon library-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div class="d-flex" id="wrapper">

        <!-- page-content-wrapper -->
        <div id="page-content-wrapper">
            <!-- navbar -->
            <div id="nav-template"></div>
            <!-- navbar -->
            <div id="fieldset-container">
                <fieldset>
                    <!-- Directory Page Content -->
                    <div class="container-fluid">
                        <h2 class="mt-4 mb-3 text-center">Shelter Entry Confirmation</h2>
                        <p class="text-center">Your shelter listing has been successfully created and will be seen by
                            shelter seekers with compatible requirements.
                        </p>
                        <p class="text-center mb-4">You may access your listing to view and/or remove it using the "View My
                            Entry" button here or on the "Describe your residence" page.</p>
                        <a href="/shelters/creation/entries" class="mt-3 mb-3 btn btn-primary d-flex justify-content-center">View My
                            Entry</a>
                        <a href="/esnDir" class="mt-3 btn btn-primary d-flex justify-content-center">Return to Directory</a>

                    </div>
                    <!-- Directory Page Content -->
                </fieldset>
            </div>
            <div id="bottom-nav-template"></div>

            <div id="search-box-view"></div>

        </div>
        <!-- /#page-content-wrapper -->
        <!-- Search pop up dialogue -->
        <div class="modal fade" id="search-box" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Search</h4>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-3">
                            <input type="text" id="keyword" class="form-control validate">
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-primary">Search</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                            aria-label="Close">Back</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of search pop up dialogue -->
    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <!-- import chat room js file -->
    <!-- <script src="/js/chatRoom.js"></script> -->
    <script src="/js/nav.js"></script>
    <script src="/js/bottomNav.js"></script>
    <script type="module" src="/js/sockets/directorySocket.js"></script>
    <script type="module" src="/js/directory.js"></script>
    <script src="/js/gotoroom.js"></script>
</body>

</html>