<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>Unresolved Fire Reports</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/styles/chat.css">
        <link rel="stylesheet" type="text/css" href="/styles/fireReportMap.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <script src="/socket.io/socket.io.js"></script>
        
    </head>
    <body>
        <div class="d-flex" id="wrapper">

            <!-- page-content-wrapper -->
            <div id="page-content-wrapper">
                
                <!-- navbar -->
                <div id="nav-template"></div>
                <!-- navbar -->
                <h4 style="padding: 5px; text-align: center; margin-bottom:0; font-weight:bold;">Unresolved Fire Reports
                    <span>
                        <button id ="go-back-btn" style="border:none; background-color: white; margin-left: 5px;">
                            <i class="far fa-times-circle fa-xs" style="color:grey;"></i>
                        </button>
                    </span>
                </h4>
            
                <div class="list-group list-group-flush">
                    <div id="unresolved-fire-report-list"></div>    
                </div>
                <div id="no-unresolved-msg">
                    <h5 style="padding: 5px; text-align: center; margin-top:50%;  margin-bottom:50%; font-weight:bold;">No unresolved reports</h5>
                </div>
                <div id="fire-report-detail-box"></div>
                

            </div>
            <!-- /#page-content-wrapper -->
        </div>
        <div id="bottom-nav-template"></div>
        <!-- /#wrapper -->

        <!-- Bootstrap core JavaScript -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> 
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcJzWZHnOmcrpHNqScJYl2Gspbr5_v_6s&libraries=geometry,places">
        </script>
        <script src="/js/nav.js"></script>
        <script src="js/unresolvedFireReports.js"></script>
        <script src="js/bottomNav.js"></script>
        <script type="module" src="/js/sockets/fireReportSocket.js"></script>
        

    </body>

</html>