.table-vertical-scrollable {
    max-height: 300px;
    overflow: auto;
    display:inline-block;
}

.btn-text-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-custom-scrollbar {
    position: relative;
    overflow: auto;
    height: 500px;
    width: 100%;
}
.table-wrapper-scroll-y {
    display: block;
}