/* Set the size of the div element that contains the map */
h4 {
  padding: 10px; 
  text-align: center; 
  margin-bottom:6px;
  font-weight:bold;
}

#map-search {
  margin: 0 auto;
  display: block;
  width: 90%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  background-image: url(/assets/searchaddress.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 50px;

}

#map {
  height: 500px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.fire-report-btn-container {
  padding: 10px;
  text-align: center;  
  height: 10%;  
}

.fire-report-btn {
  margin: 6px;
  padding: 6px;
  width: 30%;
  border-radius: 6px;
  border: none;
  background-color: #0062cc; 
  color: white;
}
