body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

.navbar {
     background-color: #0062cc;
     color: white;
 }
.mt-4 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  margin: auto;
  padding-bottom: 5%;
}

#wrapper {
  overflow-x: hidden;
}


.btnSubmit
{   
  margin-left: 25%; 
  margin-top: 10%;
  width: 50%;
  border-radius: 0.5rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color: white;
  background-color:  #0062cc;
}

.container-fluid {
  padding-left: 8%;
  padding-right: 8%;
}

#page-content-wrapper {
  min-width: 100vw;
}

#page-content-wrapper .page-button{
  margin-left: 50%;
  margin-right: 50%;
}


.container-fluid {
  margin-top: 10%;
}

@media (min-width: 768px) {
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
}
